*{
   padding: 0;
   margin: 0; 
}



header{
    width: 100%;
    height: 50px;
    background-color: deeppink;
    line-height: 45px;
}

ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly; 
    list-style-type: none;
    color: black;
}

a{
    text-decoration: none;
}

a:hover{
text-decoration: underline;
}

.p1{
    background-color: lightsalmon;
    height: 600px;
}

.p2{
background-color: tomato;
height: 600px;
}

.tec{
background-color: cornflowerblue;
height: 600px;
}
.cont {
background-color: greenyellow;
height: 600px;
}