*{
    padding: 0;
    margin: 0; 
}

body{
    padding: 10px;
    overflow-x: hidden;
}
h2 {
    display: flex;
    width:50px;
    text-align: center;
}

.card{
    margin: 5px;
}
.cards{
    display: g;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.card-img-top{
width: 286px;
height: 180px;
}




@media (width >= 800px){
.pratos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}
.sobremesas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}
.bebidas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2vh;
}
}

